<h2>Orders Details</h2>

Checkout
<div class="flex">
 
    <table class="table table-bordered">
      <tr class="well" *ngFor="let item of details">
        <td class="tdCenter">
          <img class="order-image" src="../../assets/Products/{{ item.productId+ '.jpg'}}">
          <b>Product Name:{{ item.name }} </b>
        </td>
        <td class="tdCenter">
          <b>Total Quantity:{{  item.quantity }} </b>
        </td>
        <td class="tdRight">
          <b>Amount: {{ item.price }}</b>
        </td>
        <!--  <td src="~/images/glyphicons-237-zoom-in.png" class="img-thumbnail bg-info"></td> -->
        <!-- <td ng-controller="ModalSummaryCtrl"><img src="~/images/glyphicons-237-zoom-in.png" class="img-thumbnail bg-info" ng-click="open('sm')" /></td> -->
      </tr>
    </table>

    <div class="d-flex flex-row">
      <!-- <ul class="list-inline">
            <li class="list-group-item"> <a href="#/Customer">Shipping Details</a></li>
            <li class="list-group-item"><a href="#/Payment">Payment methods</a></li>

        </ul> -->
        <div class="d-flex flex-column">
            <nav class="navbar bg-light">
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Shipping Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Payment methods</a>
                  </li>
                  
                </ul>
              </nav>
        </div>
     
    </div>
 
  <!-- <div class="row" ng-controller="orderController">
    <div ng-view></div>

</div> -->

  <div>
    <div class="modal-header">
      <h3 class="modal-title"></h3>
    </div>
    <!-- <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div> -->
    <div class="modal-footer">
      <button class="btn btn-primary"><a routerLink="/orders">Back to orders</a></button>
     
    </div>
  </div>
</div>

